.tab-container {
    overflow-x: auto; 
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .tab-container::-webkit-scrollbar {
    display: none; 
  }
  
  .tab-row {
    display: flex;
  }

  .tab-row::-webkit-scrollbar {
    display: none; 
  }
  
  .tab-item {
    padding: 10px 30px; 
    margin-right: 10px; 
    white-space: nowrap;
  }
  
  .hidescroll::-webkit-scrollbar {
    display: none !important; 
  }


  .task-card {
    background: linear-gradient(to right, #5ced73, #5ced73);
  }


  .hrul{
    border-right: 2px solid gray;
  }

  .rem1 {
    font-size: 1rem;
  }

  .card {
    box-shadow: 2px 2px 4px 0.2px rgb(211, 210, 210) !important;
  }

  .icon {
    width: 45px;
    height: 45px;
    background-color: #0d6efd;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: inset 2px 2px 4px 0.2 black;
  }

  .smallicon {
    width: 30px;
    height: 30px;
    background-color: #0d6efd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: inset 2px 2px 4px 0.2 black;
  }