.tab-container {
    overflow-x: auto; 
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .tab-container::-webkit-scrollbar {
    display: none; 
  }
  
  .tab-row {
    display: flex;
  }

  .tab-row::-webkit-scrollbar {
    display: none; 
  }
  
  .tab-item {
    padding: 7px 20px; 
    margin-right: 10px; 
    white-space: nowrap;
  }
  
  .hidescroll::-webkit-scrollbar {
    display: none !important; 
  }


  .task-card {
    background: linear-gradient(to right, #5ced73, #5ced73);
  }


  .hrul{
    border-right: 2px solid gray;
  }

  .rem1 {
    font-size: 1rem;
  }

  .card {
    box-shadow: 2px 2px 4px 0.2px rgb(211, 210, 210) !important;
  }

  .cus-shadow {
    box-shadow: 2px 2px 4px 0.2px rgb(211, 210, 210) !important;
  }

  .cus-shadow:active {
    box-shadow: none !important;
  }

  .icon {
    width: 45px;
    height: 45px;
    background-color: #0d6efd;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: inset 2px 2px 4px 0.2 black;
  }

  .smallicon {
    width: 30px;
    height: 30px;
    background-color: #0d6efd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: inset 2px 2px 4px 0.2 black;
  }

  .rounded-select-container {
    border-radius: 30px;
    padding: 8px 14px;
    background-color: #0d6efd;
    margin: 2px 4px;
  }

  .rounded-select {
    outline: none;
    padding: 3px;
    background-color: #0d6efd;
    border: none;
    color: white;
  }

  .cus-card {
    box-sizing: border-box;
    overflow: hidden;
    margin: 15px 0px 0px 0px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0.2px rgb(211, 210, 210);
    background-color: white;
    color: rgb(75, 67, 67);
    font-size: 16px;
  }

  .multiple-colors-gradient {
    background: linear-gradient(310deg, #b5cce6, #87CEEB, #D8BFD8, #b5e6dd);
  }

  .clock-btn {
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    background-color: #b5e6dd;
    border: none;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    
  }
  

  .project-card {
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #B4D2E7;
    color: darkslateblue;
    margin-bottom: 19px;
    box-shadow: 0px 0px 6px 0.2px rgb(211, 210, 210) !important;
    transition: all 0.3s;
    cursor: pointer;
  }

  .project-card-body {
    border-radius: 8px;
    padding: 10px 15px;
    /* background-color: #00000018; */
  }

  .mnh {
    min-height: 5.5em !important;
    background-color: #00000007;
  }